# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files (on build)
*.vsscc
*.vspscc

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleasePublic/
x64/
x86/
x64/
x86/
build/
bin/
obj/
publish/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
